<h2>User Not Athorized</h2>
<div class="well">
User account <strong>{{ user.name }} &lt;{{ user.email }}&gt;</strong> does not have the proper rights to access the Scientific Program Leaders (SPL) Web Application.  If you find this an error, please contact your manager for permission to access the <strong>SPL Web Applicaiton</strong>.
</div>
<br>